{
    "env": {
      "node": true,
      "es6": true,
      "jest": true
    },
    "plugins": ["jest"],
    "extends": ["airbnb-base", "prettier", "plugin:jest/recommended"],
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "rules": {},
    "settings": {
      "import/core-modules": ["aws-sdk", "js-yaml"]
    }
  }
